
	h1{
		font-family:"Ghastly Panic";
		src: "Ghastly Panic.ttf";
		text-align:center;
		font-size:5em;
		}
	
	input{
		
		height:50px;
		width:550px;
		border-radius:5px;
		background-color:silver;
		border-style:none;
		outline-color: rgb(128, 0, 0);
	}
	form{
		
		
		margin-left:20px;
		
	}
	body{
		background-image:url(ec229b8f53443ada57cad7f05712edfa.jpeg);
		background-size: cover;
	}
	div{
		border:none;
		background:rgb(255, 255, 255,0.5);
		border-radius:20px;
		width:600px;
		margin:auto;
		;
	}
p{
		font-family:"Segoe Print";
		text-align:center;
		
		}